# ESP-IDF build output
build/

# ESP-IDF generated config
sdkconfig
sdkconfig.old
sdkconfig.*.bak
sdkconfig.*.old

# Managed components are generated locally
managed_components/
dependencies.lock

# IDE/editor settings
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Local docs
CO5300_Datasheet_V0.00_20230328(1).pdf
H0143Y002MT003 V1Removed.pdf

# Python cache
__pycache__/
*.py[cod]

CO5300_Datasheet_V0.00_20230328(1).pdf
H0143Y002MT003 V1Removed.pdf
